<html>
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1307.006 213.109">
            <path id="Path_2" data-name="Path 2" d="M631,191.139S878.431,351.52,1053.929,314.171s250.084-105.456,386.1-50.531c54.948,22.19,171.056,34.5,261.053,17.576C1833.7,256.282,1938,191.139,1938,191.139V131.82H631Z" transform="translate(-630.994 -131.82)" fill="rgba(230,230,250,0.94)" width="100%" />
            <path id="Path_1" data-name="Path 1" d="M1938.006,237.276s-39.291,57.122-182.848,0S1404,263.64,1404,263.64s-92.489,53.463-200.979,59.319c-104.1,5.62-223.133-35.745-287.113-68.107C785.6,188.942,631,344.929,631,344.929V131.82H1938.006Z" transform="translate(-631 -131.82)" fill="rgba(108,99,255,0.65)"/>
          </svg>
    </header>
    <body>
        <div class="flex-container">
            <div class="text-container">
                <h1>Stay Organized!</h1>
                <h6>
                    Keep track of school tasks. <br>
                    Keep all your ideas in one place. <br>
                    Never forget a deadline again. <br>
                </h6>
                <div class="btn-container">
                    <a type="button" class="btn btn-primary btn-lg" href="/login"> Sign-in </a>
                    <a type="button" class="btn btn-outline-dark btn-lg" href="/register"> Register </a>
                </div>
            </div>
            <div class="img-container">
                <img src="Images/todo.png" alt="">
            </div>  
        </div>
    </body>
</html>