<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">    
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <title>Login page</title>
</head>
<body>
    <main>
        <img src="Images/background.jpg" alt="background" class="background">
    
    <div class="form-container">
        <h1>LOGIN</h1>
        <form id="log-form" action="/login" method="POST">
            <label for="username" class="label">Username:</label><br>
            <input type="text" id="userName"  name="username"><br>
    
            <label for="password" class="label">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <div id="login-btn">
                <button type="submit" class="btn btn-primary btn-lg">Login</button>
            </div>
        </form>
        <a href="/register">Or Sign Up!</a>
    </div>
    </main>
    
    
</body>
</html>