<html>
    <head>
        <title>Registration</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    </head>   

      <main>
    
    <div class="form-container">
        <h1>Register</h1>
        <form id="reg-form" action="/Register" method="POST">
            <label for="username" class="label">Username:</label><br>
            <input type="text" placeholder="Your userame" id="userName"  name="username"><br>
    
            <label for="password" class="label">Password:</label><br>
            <input type="password" placeholder="Enter Password" id="password" name="password"><br>
            
            <label for="psw-repeat" class="label" >Confirm Password:</label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            
            <div id="register-btn">
              <button type="submit" class="btn btn-primary btn-lg" style="margin-top:-35px;">Register Now</button>
            </div>
        </form>
          <h6>Already have an account? <a href="/login">Sign in</a>.</h6>
    </div>
   
    </main>
    <style>
      body {
        background-image: url('Images/background.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
  </style>
</body>
</html>